<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CoffeeShop.Properties.Settings.CoffeeShopManagementConnectionString"
            connectionString="Data Source=SM102\SQLEXPRESS;Initial Catalog=CoffeeShopManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>